@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../../fonts/BebasNeueBold.woff') format('woff');
  font-style: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1217px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-bg video {
  position: absolute;
  width: 90%;
  height: 69%;
  top: 21%;
  left: 6%;
}

@import 'animation';
@import 'header';
@import 'mainPage';
@import 'popupTickets';
@import 'media';