$bgSlide: url(../../images/bgMars.jpg) 50% 100%/110% 100% no-repeat;
$bgFog: url(../../images/bgFog.png) 50% 100%/200% 100% no-repeat;

.main-mars {
  position: relative;
  z-index: 100;
  min-height: 100vh;


  .mars__line {
    border-left: 3px solid white;
    animation: appearance 3s;
    height: 605px;
    position: relative;
    z-index: 1;
    max-width: 3px;
    top: 35px;
    right: 5px;
  }

  .mars__line::after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 25px;
    top: 0px;
    left: -6.5px;
  }

  .mars__line::before {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 25px;
    bottom: 0px;
    left: -7px;
  }

  .mars__content {
    background: $bgSlide;
    position: absolute;
    inset: 0;
    color: white;
    mix-blend-mode: darken;
    animation: bgSlide 2s;
  }

  .mars__content-inner {
    // max-width: 1200px;
    // margin: 10% auto 0 auto;
    // display: flex;

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .mars__sub-name {
      animation: visbl 3s;
      color: #F23207;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 62px;
      padding: 18px 0px 0px 23px
    }

    .mars__name {
      font-family: 'Bebas Neue';
      color: white;
      text-transform: uppercase;
      font-size: 710px;
      line-height: 432px;
      letter-spacing: -7px;
      position: relative;
      right: 6px;
    }
  }

  .mars__inner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background: $bgFog;
    animation: bgFog 5s infinite;
    z-index: 99;
  }
}
