@media (max-width: 1300px) {
  .wrapper-bg video {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
}

  .main-mars .mars__line {
    display: none;
  }

  .main-mars .mars__content-inner .mars__sub-name {
    margin-bottom: 0;
    font-size: 20px;
    padding: 10px 0 0 0px;
  }

  .main-mars .mars__content-inner .mars__name {
    font-size: 350px;
  }

  .popup .popup__control-content {
    display: block;
    text-align: center;
  }

  .popup .popup__control-content .popup__input-info {
    margin: 0 0 20px 0;
  }

  .popup .popup__control-content .popup__input {
    text-align: center;
  }

  .popup .popup__btn {
    align-self: center;
  }
}

@media (max-width: 900px) {
  .header__inner .header__nav-menu {
    flex-direction: column;
  }

  .header__inner .header__nav-menu .header__nav-inner {
    margin-right: 0;
  }

  .header__inner .header__nav-menu .header__nav-inner:last-child {
    margin: 0;
  }

  .header__inner .header__nav-menu .header__nav-btn {
    margin-top: 10px;
  }

}

@media (max-width: 650px) {

  .main-mars .mars__content-inner .mars__name {
    font-size: 260px;
    line-height: 265px;
  }

  .popup .popup__name-info .popup__name {
    font-size: 50px;
  }

  .popup .popup__name-info .popup__close-btn {
    margin-top: 8px;
  }
  
}

@media (max-width: 525px) {

  .main-mars .mars__content-inner .mars__sub-name {
    font-size: 15px;
  }

  .main-mars .mars__content-inner .mars__name {
    font-size: 160px;
    line-height: 265px;
  }

  .popup .popup__name-info .popup__name {
    font-size: 26px;
  }

  .popup .popup__name-info .popup__close-btn {
    margin-top: -3px;
  }
}
