.header {
  position: fixed;
  z-index: 101;
  width: 100%; }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  .header__inner .header__nav-menu {
    display: flex;
    align-items: center; }
    .header__inner .header__nav-menu .header__nav-inner {
      margin-right: 30px;
      transition: 500ms; }
    .header__inner .header__nav-menu .header__nav-inner:last-child {
      margin: 0 0 0 12px; }
    .header__inner .header__nav-menu .header__nav-inner:hover {
      transition: 1s;
      transform: scale(1.1); }
    .header__inner .header__nav-menu .header__nav-item {
      color: #F2E1C2;
      text-transform: uppercase;
      display: inline-block; }
    .header__inner .header__nav-menu .header__nav-btn {
      background: #F2E1C2;
      border: none;
      border-radius: 4px;
      color: #262526;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 10px 19px; }
