@media (max-width: 1300px) {
  .wrapper-bg video {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%; }

  .main-mars .mars__content-inner {
    justify-content: center;
    margin-top: 20%; }

  .main-mars .mars__line {
    display: none; }

  .main-mars .mars__content-inner .mars__sub-name {
    margin-bottom: 0;
    font-size: 20px;
    padding: 10px 0 0 0px; }

  .main-mars .mars__content-inner .mars__name {
    font-size: 350px; }

  .popup .popup__control-content {
    display: block;
    text-align: center; }

  .popup .popup__control-content .popup__input-info {
    margin: 0 0 20px 0; }

  .popup .popup__control-content .popup__input {
    text-align: center; }

  .popup .popup__btn {
    align-self: center; } }
@media (max-width: 900px) {
  .header__inner .header__nav-menu {
    flex-direction: column; }

  .header__inner .header__nav-menu .header__nav-inner {
    margin-right: 0; }

  .header__inner .header__nav-menu .header__nav-inner:last-child {
    margin: 0; }

  .header__inner .header__nav-menu .header__nav-btn {
    margin-top: 10px; }

  .main-mars .mars__content-inner {
    margin: 30% auto; } }
@media (max-width: 650px) {
  .wrapper-bg video {
    height: 81%;
    width: 92%;
    top: 10%;
    left: 4%; }

  .main-mars .mars__content-inner {
    margin-top: 50%; }

  .main-mars .mars__content-inner .mars__name {
    font-size: 260px;
    line-height: 265px; }

  .popup .popup__name-info .popup__name {
    font-size: 50px; }

  .popup .popup__name-info .popup__close-btn {
    margin-top: 8px; } }
@media (max-width: 525px) {
  .wrapper-bg video {
    top: 19%; }

  .main-mars .mars__content-inner {
    margin-top: 80%; }

  .main-mars .mars__content-inner .mars__sub-name {
    font-size: 15px; }

  .main-mars .mars__content-inner .mars__name {
    font-size: 160px;
    line-height: 265px; }

  .popup .popup__name-info .popup__name {
    font-size: 26px; }

  .popup .popup__name-info .popup__close-btn {
    margin-top: -3px; } }
@media (max-width: 468px) {
  .wrapper-bg video {
    height: 84%;
    width: 100%;
    top: 10%;
    left: 0%; } }
